body {
  margin: 0;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("assets/img/wallpaper.jpg");
}
header {
  background-color: #0d2129;
  width: 100%;
  height: 100px;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 100%;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  list-style-type: none;
}
.menu a {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
  padding: 10px 30px;
  background: #0d2129;
  color: rgb(255, 255, 255);;
  transition: 0.2s;
  opacity: 0.8;
  height: 100px;
  max-width: 200px;
}
.menu a:hover {
  opacity: 1;
}
